.footer{
background-color:cadetblue;
color:white;
height:100px;
}

#ftext{
text-align:center;
margin-top:35px;
}

#dettable tr{
border-bottom: 0.5px dashed #8c8b8b30;
}

#dettable tr td{
  text-align: left;
}

#form-title {
 margin-top: 28px;
 margin-bottom: 10px;
}
.error{
color:red;
}

#form-title {
  margin-left: 10px;
}

.about-des {
  font-size: 18px;
  font-style: oblique;
  font-family: -webkit-body;
}
footer#ubea-footer {
  background-color: #101b42;
}

/* model style */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: #125ba7;
  background-color: #7e3b3b;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*pager*/
.contact-pager {
  margin-left: 80px;
}

.contact-name {
  color: coral;
}

input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 4px;
  margin-bottom: 8px;
  resize: vertical;
}
.con-header {
  color: coral;
}

.con-mobile {
  margin-right: 140px;
}

.enq-done {
  font-size: 14px;
  color: crimson;
}